In [1]:
import io
import requests
import json
import xml.dom.minidom as mdom

In [2]:
# It returns a list of N countries in dimension N x  
# GDB PPP per capita, Gini, HDI
def getDataByCountry(countriesList):
  out = []
  notFound = []
  for i in countriesList:
    try:
      url = 'http://dbpedia.org/data/' + str(i) +  '.jsod'
      js = requests.get(url).json()
      gini = js['d']['results'][0]['http://dbpedia.org/property/gini']
      gdbPppPerCapita = round(float(js['d']['results'][0]['http://dbpedia.org/property/gdpPppPerCapita']))
      hdi = js['d']['results'][0]['http://dbpedia.org/property/hdi']
      out.append({'country': i,
                  'gdbPPPperCapita': gdbPppPerCapita,
                  'gini': round(float(gini)*10),
                  'hdi': round(float(hdi)*1000)})
    except:
      print('We were not able to get %s!' %(i))
      notFound.append(i)
  return out, notFound

In [3]:
def XMLsearchData(countriesList):
  out = []
  for country in countriesList:
    url = 'http://dbpedia.org/data/' + str(country) + '.atom'
    try:
      xml = mdom.parseString(requests.get(url).content)
      out.append({
      'country': country,
      'gini': round(float(xml.getElementsByTagName('dbp:gini')[0].firstChild.nodeValue)*10),
      'gdbPPPperCapita': round(float(xml.getElementsByTagName('dbp:gdpPppPerCapita')[0].firstChild.nodeValue)),
      'hdi': round(float(xml.getElementsByTagName('dbp:hdi')[0].firstChild.nodeValue)*1000)
      })
    except:
      print(country + ' not Found')
  return out

In [4]:
# Get list of countries used in WHO dataset
def getCountriesList():
  countriesList = []
  url = 'https://apps.who.int/gho/athena/api/GHO/HIV_0000000026?format=json'
  js = requests.get(url).json()
  for i in range(170):  
    newCountry = js['dimension'][4]['code'][i]['display'].split('(')[0].replace(' ', '_')
    if newCountry[len(newCountry) - 1] == '_': 
      countriesList.append(newCountry[:-1])
    else:
      countriesList.append(newCountry)
  return countriesList

In [5]:
countriesList = getCountriesList();
info, notFound = getDataByCountry(countriesList);

We were not able to get Afghanistan!
We were not able to get Albania!
We were not able to get Bahamas!
We were not able to get Bahrain!
We were not able to get Barbados!
We were not able to get Belgium!
We were not able to get Belize!
We were not able to get Botswana!
We were not able to get Brunei_Darussalam!
We were not able to get Canada!
We were not able to get Cabo_Verde!
We were not able to get Central_African_Republic!
We were not able to get Chad!
We were not able to get Congo!
We were not able to get Czechia!
We were not able to get Côte_d'Ivoire!
We were not able to get Democratic_People's_Republic_of_Korea!
We were not able to get Djibouti!
We were not able to get Ecuador!
We were not able to get Equatorial_Guinea!
We were not able to get Eritrea!
We were not able to get Ethiopia!
We were not able to get Fiji!
We were not able to get Gambia!
We were not able to get Georgia!
We were not able to get Guinea-Bissau!
We were not able to get Guyana!
We were not able to get Ireland!
We were not able to get Israel!
We were not able to get Japan!
We were not able to get Kuwait!
We were not able to get Lao_People's_Democratic_Republic!
We were not able to get Lebanon!
We were not able to get Lesotho!
We were not able to get Libya!
We were not able to get Malawi!
We were not able to get Malaysia!
We were not able to get Mongolia!
We were not able to get Myanmar!
We were not able to get Oman!
We were not able to get Republic_of_Korea!
We were not able to get Republic_of_Moldova!
We were not able to get Russian_Federation!
We were not able to get Saudi_Arabia!
We were not able to get Somalia!
We were not able to get Spain!
We were not able to get Sudan!
We were not able to get Eswatini!
We were not able to get Syrian_Arab_Republic!
We were not able to get North_Macedonia!
We were not able to get Timor-Leste!
We were not able to get Uganda!
We were not able to get United_Kingdom_of_Great_Britain_and_Northern_Ireland!
We were not able to get United_Republic_of_Tanzania!
We were not able to get United_States_of_America!
We were not able to get Uzbekistan!
We were not able to get Viet_Nam!
We were not able to get Yemen!

In [6]:
print(len(info))

112

In [7]:
xmlResul = XMLsearchData(notFound)
print(len(xmlResul))

Afghanistan not Found
Bahamas not Found
Bahrain not Found
Barbados not Found
Belgium not Found
Belize not Found
Botswana not Found
Brunei_Darussalam not Found
Canada not Found
Cabo_Verde not Found
Chad not Found
Congo not Found
Czechia not Found
Côte_d'Ivoire not Found
Democratic_People's_Republic_of_Korea not Found
Equatorial_Guinea not Found
Eritrea not Found
Ethiopia not Found
Gambia not Found
Georgia not Found
Guyana not Found
Ireland not Found
Japan not Found
Kuwait not Found
Lao_People's_Democratic_Republic not Found
Lebanon not Found
Libya not Found
Malawi not Found
Myanmar not Found
Oman not Found
Republic_of_Korea not Found
Republic_of_Moldova not Found
Russian_Federation not Found
Saudi_Arabia not Found
Somalia not Found
Eswatini not Found
Syrian_Arab_Republic not Found
North_Macedonia not Found
Timor-Leste not Found
Uganda not Found
United_Kingdom_of_Great_Britain_and_Northern_Ireland not Found
United_Republic_of_Tanzania not Found
United_States_of_America not Found
Uzbekistan not Found
Viet_Nam not Found
Yemen not Found
12

In [8]:
print('For a table created in the following order: country, gdb PPP per Capita, gini, hdi')
for i in info:
  country = i['country'].replace('_', ' ')
  print("""\
  INSERT INTO Pais VALUES('%s', %s, %s, %s);\
  """%(country, i['gdbPPPperCapita'], i['gini'], i['hdi']))
for i in xmlResul:
  country = i['country'].replace('_', ' ')
  print("""\
  INSERT INTO Pais VALUES('%s', %s, %s, %s);\
  """%(country, i['gdbPPPperCapita'], i['gini'], i['hdi']))

For a table created in the following order: country, gdb PPP per Capita, gini, hdi
  INSERT INTO Pais VALUES('Algeria', 14610, 353, 736);
  INSERT INTO Pais VALUES('Angola', 7501, 427, 532);
  INSERT INTO Pais VALUES('Argentina', 22554, 423, 836);
  INSERT INTO Pais VALUES('Armenia', 8468, 315, 733);
  INSERT INTO Pais VALUES('Australia', 47318, 336, 935);
  INSERT INTO Pais VALUES('Austria', 48098, 276, 885);
  INSERT INTO Pais VALUES('Azerbaijan', 17500, 337, 751);
  INSERT INTO Pais VALUES('Bangladesh', 3581, 321, 570);
  INSERT INTO Pais VALUES('Belarus', 17440, 265, 798);
  INSERT INTO Pais VALUES('Benin', 2025, 365, 480);
  INSERT INTO Pais VALUES('Bhutan', 8196, 387, 605);
  INSERT INTO Pais VALUES('Bolivia', 6650, 466, 662);
  INSERT INTO Pais VALUES('Bosnia and Herzegovina', 11647, 362, 733);
  INSERT INTO Pais VALUES('Brazil', 15048, 519, 755);
  INSERT INTO Pais VALUES('Bulgaria', 19839, 370, 782);
  INSERT INTO Pais VALUES('Burkina Faso', 1777, 395, 402);
  INSERT INTO Pais VALUES('Burundi', 834, 330, 400);
  INSERT INTO Pais VALUES('Cambodia', 3476, 318, 555);
  INSERT INTO Pais VALUES('Cameroon', 3246, 446, 512);
  INSERT INTO Pais VALUES('Chile', 25415, 503, 832);
  INSERT INTO Pais VALUES('China', 15095, 462, 727);
  INSERT INTO Pais VALUES('Colombia', 14171, 522, 720);
  INSERT INTO Pais VALUES('Comoros', 1523, 643, 503);
  INSERT INTO Pais VALUES('Costa Rica', 15365, 407, 766);
  INSERT INTO Pais VALUES('Croatia', 23171, 302, 818);
  INSERT INTO Pais VALUES('Cuba', 20649, 380, 769);
  INSERT INTO Pais VALUES('Cyprus', 30882, 291, 850);
  INSERT INTO Pais VALUES('Democratic Republic of the Congo', 816, 444, 433);
  INSERT INTO Pais VALUES('Denmark', 46976, 275, 923);
  INSERT INTO Pais VALUES('Dominican Republic', 15777, 471, 715);
  INSERT INTO Pais VALUES('Egypt', 11849, 308, 690);
  INSERT INTO Pais VALUES('El Salvador', 8668, 435, 686);
  INSERT INTO Pais VALUES('Estonia', 29501, 329, 861);
  INSERT INTO Pais VALUES('Finland', 42654, 256, 883);
  INSERT INTO Pais VALUES('France', 41181, 301, 888);
  INSERT INTO Pais VALUES('Gabon', 22400, 415, 684);
  INSERT INTO Pais VALUES('Germany', 47033, 307, 916);
  INSERT INTO Pais VALUES('Ghana', 4390, 428, 579);
  INSERT INTO Pais VALUES('Greece', 26606, 342, 865);
  INSERT INTO Pais VALUES('Guatemala', 7680, 551, 627);
  INSERT INTO Pais VALUES('Guinea', 1281, 703, 412);
  INSERT INTO Pais VALUES('Haiti', 1849, 608, 483);
  INSERT INTO Pais VALUES('Honduras', 4959, 553, 606);
  INSERT INTO Pais VALUES('Hungary', 26941, 279, 828);
  INSERT INTO Pais VALUES('Iceland', 44575, 240, 899);
  INSERT INTO Pais VALUES('India', 6664, 339, 609);
  INSERT INTO Pais VALUES('Indonesia', 11633, 356, 684);
  INSERT INTO Pais VALUES('Iran', 12833, 374, 766);
  INSERT INTO Pais VALUES('Italy', 36191, 327, 873);
  INSERT INTO Pais VALUES('Jamaica', 8991, 455, 719);
  INSERT INTO Pais VALUES('Jordan', 12162, 354, 748);
  INSERT INTO Pais VALUES('Kazakhstan', 24143, 264, 788);
  INSERT INTO Pais VALUES('Kenya', 3245, 425, 548);
  INSERT INTO Pais VALUES('Kyrgyzstan', 3363, 274, 655);
  INSERT INTO Pais VALUES('Latvia', 25740, 352, 819);
  INSERT INTO Pais VALUES('Liberia', 881, 382, 430);
  INSERT INTO Pais VALUES('Lithuania', 29881, 379, 839);
  INSERT INTO Pais VALUES('Luxembourg', 100991, 287, 892);
  INSERT INTO Pais VALUES('Madagascar', 1510, 441, 510);
  INSERT INTO Pais VALUES('Maldives', 13954, 374, 706);
  INSERT INTO Pais VALUES('Mali', 1843, 330, 407);
  INSERT INTO Pais VALUES('Malta', 33215, 277, 839);
  INSERT INTO Pais VALUES('Mauritania', 4287, 405, 506);
  INSERT INTO Pais VALUES('Mauritius', 18728, 359, 777);
  INSERT INTO Pais VALUES('Mexico', 18857, 481, 756);
  INSERT INTO Pais VALUES('Morocco', 8194, 409, 628);
  INSERT INTO Pais VALUES('Mozambique', 1327, 457, 416);
  INSERT INTO Pais VALUES('Namibia', 11786, 597, 628);
  INSERT INTO Pais VALUES('Nepal', 2573, 328, 548);
  INSERT INTO Pais VALUES('Netherlands', 50339, 262, 922);
  INSERT INTO Pais VALUES('New Zealand', 36950, 330, 913);
  INSERT INTO Pais VALUES('Nicaragua', 4972, 457, 631);
  INSERT INTO Pais VALUES('Niger', 1111, 315, 348);
  INSERT INTO Pais VALUES('Nigeria', 6351, 430, 514);
  INSERT INTO Pais VALUES('Norway', 70066, 235, 944);
  INSERT INTO Pais VALUES('Pakistan', 5084, 300, 538);
  INSERT INTO Pais VALUES('Panama', 20512, 519, 780);
  INSERT INTO Pais VALUES('Papua New Guinea', 2834, 509, 505);
  INSERT INTO Pais VALUES('Paraguay', 8905, 482, 679);
  INSERT INTO Pais VALUES('Peru', 12638, 447, 734);
  INSERT INTO Pais VALUES('Philippines', 7612, 460, 668);
  INSERT INTO Pais VALUES('Poland', 27654, 327, 843);
  INSERT INTO Pais VALUES('Portugal', 28476, 342, 830);
  INSERT INTO Pais VALUES('Qatar', 145894, 411, 850);
  INSERT INTO Pais VALUES('Romania', 22319, 340, 793);
  INSERT INTO Pais VALUES('Rwanda', 1784, 513, 483);
  INSERT INTO Pais VALUES('Senegal', 2525, 403, 485);
  INSERT INTO Pais VALUES('Serbia', 14938, 380, 771);
  INSERT INTO Pais VALUES('Sierra Leone', 1534, 354, 413);
  INSERT INTO Pais VALUES('Singapore', 82762, 464, 912);
  INSERT INTO Pais VALUES('Slovakia', 29209, 261, 844);
  INSERT INTO Pais VALUES('Slovenia', 32027, 250, 880);
  INSERT INTO Pais VALUES('South Africa', 13321, 631, 666);
  INSERT INTO Pais VALUES('Sri Lanka', 11189, 364, 757);
  INSERT INTO Pais VALUES('Suriname', 16623, 529, 714);
  INSERT INTO Pais VALUES('Sweden', 47319, 254, 907);
  INSERT INTO Pais VALUES('Switzerland', 59150, 285, 930);
  INSERT INTO Pais VALUES('Tajikistan', 2247, 308, 624);
  INSERT INTO Pais VALUES('Thailand', 16706, 394, 726);
  INSERT INTO Pais VALUES('Togo', 1567, 460, 473);
  INSERT INTO Pais VALUES('Trinidad and Tobago', 32432, 390, 772);
  INSERT INTO Pais VALUES('Tunisia', 11651, 361, 721);
  INSERT INTO Pais VALUES('Turkey', 21198, 400, 761);
  INSERT INTO Pais VALUES('Turkmenistan', 17072, 408, 688);
  INSERT INTO Pais VALUES('Ukraine', 8230, 246, 747);
  INSERT INTO Pais VALUES('United Arab Emirates', 67616, 360, 835);
  INSERT INTO Pais VALUES('Uruguay', 21944, 419, 793);
  INSERT INTO Pais VALUES('Venezuela', 15251, 448, 762);
  INSERT INTO Pais VALUES('Zambia', 3917, 575, 586);
  INSERT INTO Pais VALUES('Zimbabwe', 2133, 501, 509);
  INSERT INTO Pais VALUES('Montenegro', 16654, 262, 802);
  INSERT INTO Pais VALUES('South Sudan', 1886, 455, 467);
  INSERT INTO Pais VALUES('Albania', 12484, 345, 733);
  INSERT INTO Pais VALUES('Central African Republic', 668, 563, 350);
  INSERT INTO Pais VALUES('Djibouti', 3351, 400, 470);
  INSERT INTO Pais VALUES('Ecuador', 11788, 466, 732);
  INSERT INTO Pais VALUES('Fiji', 9314, 428, 727);
  INSERT INTO Pais VALUES('Guinea-Bissau', 1561, 350, 396);
  INSERT INTO Pais VALUES('Israel', 34336, 428, 894);
  INSERT INTO Pais VALUES('Lesotho', 3133, 542, 486);
  INSERT INTO Pais VALUES('Malaysia', 25833, 462, 779);
  INSERT INTO Pais VALUES('Mongolia', 11024, 365, 727);
  INSERT INTO Pais VALUES('Spain', 36143, 337, 876);
  INSERT INTO Pais VALUES('Sudan', 4834, 353, 473);