In [1]:
%defaultDatasource jdbc:h2:file:~/database/socioeco

In [2]:
DROP TABLE IF EXISTS SocioEco;

CREATE TABLE SocioEco(
    Country VARCHAR(40) NOT NULL,
    GdbPPPpC INTEGER, -- Rounded
    GINI INTEGER,     -- x10 and rounded
    HDI INTEGER,      -- x1000 and rounded
    PRIMARY KEY(Country)
);

In [3]:

  INSERT INTO SocioEco VALUES('Algeria', 14610, 353, 736);  
  INSERT INTO SocioEco VALUES('Angola', 7501, 427, 532);  
  INSERT INTO SocioEco VALUES('Argentina', 22554, 423, 836);  
  INSERT INTO SocioEco VALUES('Armenia', 8468, 315, 733);  
  INSERT INTO SocioEco VALUES('Australia', 47318, 336, 935);  
  INSERT INTO SocioEco VALUES('Austria', 48098, 276, 885);  
  INSERT INTO SocioEco VALUES('Azerbaijan', 17500, 337, 751);  
  INSERT INTO SocioEco VALUES('Bangladesh', 3581, 321, 570);  
  INSERT INTO SocioEco VALUES('Belarus', 17440, 265, 798);  
  INSERT INTO SocioEco VALUES('Benin', 2025, 365, 480);  
  INSERT INTO SocioEco VALUES('Bhutan', 8196, 387, 605);  
  INSERT INTO SocioEco VALUES('Bolivia', 6650, 466, 662);  
  INSERT INTO SocioEco VALUES('Bosnia and Herzegovina', 11647, 362, 733);  
  INSERT INTO SocioEco VALUES('Brazil', 15048, 519, 755);  
  INSERT INTO SocioEco VALUES('Bulgaria', 19839, 370, 782);  
  INSERT INTO SocioEco VALUES('Burkina Faso', 1777, 395, 402);  
  INSERT INTO SocioEco VALUES('Burundi', 834, 330, 400);  
  INSERT INTO SocioEco VALUES('Cambodia', 3476, 318, 555);  
  INSERT INTO SocioEco VALUES('Cameroon', 3246, 446, 512);  
  INSERT INTO SocioEco VALUES('Chile', 25415, 503, 832);  
  INSERT INTO SocioEco VALUES('China', 15095, 462, 727);  
  INSERT INTO SocioEco VALUES('Colombia', 14171, 522, 720);  
  INSERT INTO SocioEco VALUES('Comoros', 1523, 643, 503);  
  INSERT INTO SocioEco VALUES('Costa Rica', 15365, 407, 766);  
  INSERT INTO SocioEco VALUES('Croatia', 23171, 302, 818);  
  INSERT INTO SocioEco VALUES('Cuba', 20649, 380, 769);  
  INSERT INTO SocioEco VALUES('Cyprus', 30882, 291, 850);  
  INSERT INTO SocioEco VALUES('Democratic Republic of the Congo', 816, 444, 433);  
  INSERT INTO SocioEco VALUES('Denmark', 46976, 275, 923);  
  INSERT INTO SocioEco VALUES('Dominican Republic', 15777, 471, 715);  
  INSERT INTO SocioEco VALUES('Egypt', 11849, 308, 690);  
  INSERT INTO SocioEco VALUES('El Salvador', 8668, 435, 686);  
  INSERT INTO SocioEco VALUES('Estonia', 29501, 329, 861);  
  INSERT INTO SocioEco VALUES('Finland', 42654, 256, 883);  
  INSERT INTO SocioEco VALUES('France', 41181, 301, 888);  
  INSERT INTO SocioEco VALUES('Gabon', 22400, 415, 684);  
  INSERT INTO SocioEco VALUES('Germany', 47033, 307, 916);  
  INSERT INTO SocioEco VALUES('Ghana', 4390, 428, 579);  
  INSERT INTO SocioEco VALUES('Greece', 26606, 342, 865);  
  INSERT INTO SocioEco VALUES('Guatemala', 7680, 551, 627);  
  INSERT INTO SocioEco VALUES('Guinea', 1281, 703, 412);  
  INSERT INTO SocioEco VALUES('Haiti', 1849, 608, 483);  
  INSERT INTO SocioEco VALUES('Honduras', 4959, 553, 606);  
  INSERT INTO SocioEco VALUES('Hungary', 26941, 279, 828);  
  INSERT INTO SocioEco VALUES('Iceland', 44575, 240, 899);  
  INSERT INTO SocioEco VALUES('India', 6664, 339, 609);  
  INSERT INTO SocioEco VALUES('Indonesia', 11633, 356, 684);  
  INSERT INTO SocioEco VALUES('Iran', 12833, 374, 766);  
  INSERT INTO SocioEco VALUES('Italy', 36191, 327, 873);  
  INSERT INTO SocioEco VALUES('Jamaica', 8991, 455, 719);  
  INSERT INTO SocioEco VALUES('Jordan', 12162, 354, 748);  
  INSERT INTO SocioEco VALUES('Kazakhstan', 24143, 264, 788);  
  INSERT INTO SocioEco VALUES('Kenya', 3245, 425, 548);  
  INSERT INTO SocioEco VALUES('Kyrgyzstan', 3363, 274, 655);  
  INSERT INTO SocioEco VALUES('Latvia', 25740, 352, 819);  
  INSERT INTO SocioEco VALUES('Liberia', 881, 382, 430);  
  INSERT INTO SocioEco VALUES('Lithuania', 29881, 379, 839);  
  INSERT INTO SocioEco VALUES('Luxembourg', 100991, 287, 892);  
  INSERT INTO SocioEco VALUES('Madagascar', 1510, 441, 510);  
  INSERT INTO SocioEco VALUES('Maldives', 13954, 374, 706);  
  INSERT INTO SocioEco VALUES('Mali', 1843, 330, 407);  
  INSERT INTO SocioEco VALUES('Malta', 33215, 277, 839);  
  INSERT INTO SocioEco VALUES('Mauritania', 4287, 405, 506);  
  INSERT INTO SocioEco VALUES('Mauritius', 18728, 359, 777);  
  INSERT INTO SocioEco VALUES('Mexico', 18857, 481, 756);  
  INSERT INTO SocioEco VALUES('Morocco', 8194, 409, 628);  
  INSERT INTO SocioEco VALUES('Mozambique', 1327, 457, 416);  
  INSERT INTO SocioEco VALUES('Namibia', 11786, 597, 628);  
  INSERT INTO SocioEco VALUES('Nepal', 2573, 328, 548);  
  INSERT INTO SocioEco VALUES('Netherlands', 50339, 262, 922);  
  INSERT INTO SocioEco VALUES('New Zealand', 36950, 330, 913);  
  INSERT INTO SocioEco VALUES('Nicaragua', 4972, 457, 631);  
  INSERT INTO SocioEco VALUES('Niger', 1111, 315, 348);  
  INSERT INTO SocioEco VALUES('Nigeria', 6351, 430, 514);  
  INSERT INTO SocioEco VALUES('Norway', 70066, 235, 944);  
  INSERT INTO SocioEco VALUES('Pakistan', 5084, 300, 538);  
  INSERT INTO SocioEco VALUES('Panama', 20512, 519, 780);  
  INSERT INTO SocioEco VALUES('Papua New Guinea', 2834, 509, 505);  
  INSERT INTO SocioEco VALUES('Paraguay', 8905, 482, 679);  
  INSERT INTO SocioEco VALUES('Peru', 12638, 447, 734);  
  INSERT INTO SocioEco VALUES('Philippines', 7612, 460, 668);  
  INSERT INTO SocioEco VALUES('Poland', 27654, 327, 843);  
  INSERT INTO SocioEco VALUES('Portugal', 28476, 342, 830);  
  INSERT INTO SocioEco VALUES('Qatar', 145894, 411, 850);  
  INSERT INTO SocioEco VALUES('Romania', 22319, 340, 793);  
  INSERT INTO SocioEco VALUES('Rwanda', 1784, 513, 483);  
  INSERT INTO SocioEco VALUES('Senegal', 2525, 403, 485);  
  INSERT INTO SocioEco VALUES('Serbia', 14938, 380, 771);  
  INSERT INTO SocioEco VALUES('Sierra Leone', 1534, 354, 413);  
  INSERT INTO SocioEco VALUES('Singapore', 82762, 464, 912);  
  INSERT INTO SocioEco VALUES('Slovakia', 29209, 261, 844);  
  INSERT INTO SocioEco VALUES('Slovenia', 32027, 250, 880);  
  INSERT INTO SocioEco VALUES('South Africa', 13321, 631, 666);  
  INSERT INTO SocioEco VALUES('Sri Lanka', 11189, 364, 757);  
  INSERT INTO SocioEco VALUES('Suriname', 16623, 529, 714);  
  INSERT INTO SocioEco VALUES('Sweden', 47319, 254, 907);  
  INSERT INTO SocioEco VALUES('Switzerland', 59150, 285, 930);  
  INSERT INTO SocioEco VALUES('Tajikistan', 2247, 308, 624);  
  INSERT INTO SocioEco VALUES('Thailand', 16706, 394, 726);  
  INSERT INTO SocioEco VALUES('Togo', 1567, 460, 473);  
  INSERT INTO SocioEco VALUES('Trinidad and Tobago', 32432, 390, 772);  
  INSERT INTO SocioEco VALUES('Tunisia', 11651, 361, 721);  
  INSERT INTO SocioEco VALUES('Turkey', 21198, 400, 761);  
  INSERT INTO SocioEco VALUES('Turkmenistan', 17072, 408, 688);  
  INSERT INTO SocioEco VALUES('Ukraine', 8230, 246, 747);  
  INSERT INTO SocioEco VALUES('United Arab Emirates', 67616, 360, 835);  
  INSERT INTO SocioEco VALUES('Uruguay', 21944, 419, 793);  
  INSERT INTO SocioEco VALUES('Venezuela', 15251, 448, 762);  
  INSERT INTO SocioEco VALUES('Zambia', 3917, 575, 586);  
  INSERT INTO SocioEco VALUES('Zimbabwe', 2133, 501, 509);  
  INSERT INTO SocioEco VALUES('Montenegro', 16654, 262, 802);  
  INSERT INTO SocioEco VALUES('South Sudan', 1886, 455, 467);  
  INSERT INTO SocioEco VALUES('Albania', 12484, 345, 733);  
  INSERT INTO SocioEco VALUES('Central African Republic', 668, 563, 350);  
  INSERT INTO SocioEco VALUES('Djibouti', 3351, 400, 470);  
  INSERT INTO SocioEco VALUES('Ecuador', 11788, 466, 732);  
  INSERT INTO SocioEco VALUES('Fiji', 9314, 428, 727);  
  INSERT INTO SocioEco VALUES('Guinea-Bissau', 1561, 350, 396);  
  INSERT INTO SocioEco VALUES('Israel', 34336, 428, 894);  
  INSERT INTO SocioEco VALUES('Lesotho', 3133, 542, 486);  
  INSERT INTO SocioEco VALUES('Malaysia', 25833, 462, 779);  
  INSERT INTO SocioEco VALUES('Mongolia', 11024, 365, 727);  
  INSERT INTO SocioEco VALUES('Spain', 36143, 337, 876);  
  INSERT INTO SocioEco VALUES('Sudan', 4834, 353, 473);

In [4]:
SELECT Count(*) FROM SocioEco

124